@charset "utf-8";

/*** total style ***/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html { font-size: 62.5%; } /*1rem = 10px*/

body {
  background: #fff0e6;
  color: #474443;
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','Source Sans Pro', 'メイリオ',Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  font-size: 100%;
  width: 100%;
}

/*** normalize 対策 ***/
p {
  margin: 0;
  font-size: 28px;
  color: #646464;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
img{
  vertical-align: top;
}
table{
  border: 0;
  border-collapse:collapse;
}
table tr{
  padding: 0;
}
table tr td{
  border: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

/*** mouse over ***/
a img {
  display: block;
  width: 100%;
  height: auto;
}
a:hover img {
  filter:alpha(opacity=60);
  opacity: 0.6;
}
a {
  display: block;
  text-decoration: none;
}

body p {
  font-size: 28px;
}
/*** clearfix ***/
.cf:before, .cf:after {
  content:"";
  display:block;
  overflow:hidden;
}
.cf:after { clear:both; }
.cf { zoom:1; }

/*** float ***/
.fl-l {
  float: left;
}
.fl-r {
  float: right;
}

/*** inner width ***/

img { width: 100%; }

/*** inner width ***/
.wrapper {
  width: 100%;  
}

.inner {
  max-width: 90%;
  margin: 0 auto;
}

.bg-gray {
  background: #ebebe7;
}
/********************************/

/*********** margin & padding ****/
.mb20 {margin-bottom: 20px; }
.mb25 {margin-bottom: 25px; }
.mb30 {margin-bottom: 30px; }
.mb35 {margin-bottom: 35px; }
.mb40 {margin-bottom: 40px; }
.mb45 {margin-bottom: 45px; }
.mb50 {margin-bottom: 50px; }
.mb70 {margin-bottom: 70px; }
/****** Start of Header *********/
.head {
  width: 100%;
  position: relative;
}
.top-head , .bott-head {
  width: 100%;
}
.top-head-inner {
  width: 92%;
  margin:0 auto;
}
.top-head-inner h1 {
  width: 383px;
  float: left;
  margin-top: 10px;
}
.bott-head-inner {
  width: 89.33%;
  margin:0 auto;
}
.bott-head-inner .resv-01 {
  float: left;
}
.bott-head-inner .resv-02 {
  float: right;
}

/****** footer****************/
.totop {
  position: fixed;
  bottom: 4%;
  right: 8%;
  z-index: 99;
}
footer {
   background: #643c32;
   color: #fff;
   padding-bottom: 56px;
}
footer a {
  color: #fff;
}
footer .ft-list li a {
  display: block;
  width: 50%;
  height: 90px;
  padding: 30px 0 30px 40px;
  border: 1px solid #fff;
  font-size: 25px;
  float: left;
}
footer .ft-list li a:hover {
  text-decoration: none;
  background: #786450;
}
footer ul.ft-list li a:after {
  content: "";
  width: 10px;
  height: 16px;
  display: block;
  background: url(../images/foot_arr.png) no-repeat right;
  float: right;
  margin: 10px 13px 0 0;
}
footer img {
  display: block;
  margin: 0 auto;
}
footer>img:nth-of-type(1) {
  width: 45%;
}
footer>img:nth-of-type(2) {
  width: 91%;
}
footer .blog li {
  float: left;
  font-size: 20px;
  position: relative;
}
footer .blog .lit-01 {
  width: 175px;
}
footer .blog .lit-02 {
  width: 268px;
}
footer ul.blog li:after {
  content: "｜";
  position: absolute;
  right: 0;
  top: 0;
}
footer .blog li.last:after {
  content: initial;
  display: block;
}
footer p {
  text-align: center;
  font-size: 24px;
  color: #fff;
}
.nav-menu {
  position: fixed;
  top: 35px;
  right: 2%;
  width: 28%;
  border-radius: 5px;
  background: #604c3f;
}
.panel-btn,
.panel-btn span {
  display: inline-block;
  transition: all .3s;
}
.nav-menu .panel-btn {
  width: 54px;
  height: 50px;
  text-align: center;
  overflow: visible;
  cursor: pointer;
  z-index: 9999;
}
.panel-btn .border {
  position: absolute;
  right: 15.5%;
  width: 70%;
  height: 3px;
  background-color: #fff;
}
.panel-btn .border:nth-of-type(1) { top: 10px; }
.panel-btn .border:nth-of-type(2) { top: 20px; }
.panel-btn .border:nth-of-type(3) { top: 30px; }
.drawer-txt {
  position: absolute;
  top: 24px;
  right: 17%;
  font-size: .7rem;
  font-weight: bold;
}
.panel-btn.active .border:nth-of-type(1) {
  top: 12px;
  -webkit-transform: translateY(2px) rotate(-45deg);
  transform: translateY(2px) rotate(-45deg);
}
.panel-btn.active .border:nth-of-type(2) { opacity: 0; }
.panel-btn.active .border:nth-of-type(3) {
  top: 51px;
  -webkit-transform: translateY(-37px) rotate(45deg);
  transform: translateY(-37px) rotate(45deg);
}
.g-nav {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #8c5a32;
  opacity: .7;
  width: 100%;
  height: 100%;
  padding-top: 10vh;
  z-index: 99;
}
.g-nav li {
  display: inline-block;
  background: url(../img/sp/menu_arrow.png) left center no-repeat;
  background-size: 10px;
  width: 100%;
  height: 10vh;
  color: #28cccc;
  font-size: 3.5vh;
  line-height: 10vh;
  text-align: left;
  margin-bottom: 20px;
}
.g-nav li img { vertical-align: middle; }
.g-nav li a {
  display: block;
  width :100%;
  height: 100%;
  color: #fff;
  text-align: center;
}
.g-nav li.list-btn {
  display: block;
  margin-right: auto;
  margin: 20px auto 0;
  max-width: 70%;
  text-align: center;
}
.g-nav ul li span {
  font-size: 20px;
  display: block;
  margin-top: -20px;

}
.nav-menu img {
  width: 20%;
  max-width: 100%;
  margin: 15px 5% 0 0;
}
